.flight-seats {
  text-align: center;
  padding: 20px;
}

.seats-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid black;
  padding: 30px;
  padding-left: 250px;
  padding-right: 250px;
  border-radius: 300px;
  position: relative;
  background-color: rgb(236, 236, 236);
}
.front {
  position: absolute;
  left: 80px;
  top: 150px;
  font-weight: 600;
  font-size: 30px;
}
.back2 {
  position: absolute;
  right: 80px;
  top: 150px;
  font-weight: 600;
  font-size: 30px;
}
.seat {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: wheat;
}

.seat.selected {
  background-color: green;
  color: white;
}

.row-gap {
  height: 30px;
  grid-column: span 20;
}

.selected-seat-info {
  margin-top: 20px;
}
